body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}


.box-wrapper {
    position: relative;
    width: 180px;  
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 300px; 
}

#box {
    position: relative;
    z-index: 10;
    width: 400px;  
    height: 190px; 
    transition: transform 0.3s ease;
    cursor: pointer;
}

#jack {
    position: absolute;
    z-index: 1;
    width: 130px; 
    left: 50%;
    bottom: 30px; 
    transform: translateX(-50%) translateY(0) rotate(0deg);
    transition: transform 0.5s ease;
}

#jack.show {
    animation: shySpin 1.2s forwards; 
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background: linear-gradient(to bottom, #14033b 0%, #000000 100%);
    color: white;
    border: none;
    border-radius: 5px;
}

@keyframes shySpin {
    0% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }
    30% {
        transform: translateX(-50%) translateY(-60px) rotate(-10deg);
    }
    50% {
        transform: translateX(-50%) translateY(-20px) rotate(10deg);
    }
    100% {
        transform: translateX(-50%) translateY(-230px) rotate(360deg);
    }
}