body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding : 0;
}

.todo-container {
    background-color: white;
    width: 500px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

header, .input-group button {
    background-color: #0077d6;
    color: white;
}

header {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-weight: bold;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

.input-group input {
    flex-grow: 1; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none; 
}

.input-group button {
    border: none;
    padding: 12px 20px;
    border-radius: 0 5px 5px 0;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    background-color: #e0f2f7; 
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d1e3e8; 
}

.todo-list li.completed {
    background-color: #a9d49e;
    text-decoration: line-through; 
}